.basketPage{
    position: relative;
    top: 17vh;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;

}
.cartItems{
    width: 45vw;
    height: fit-content;
    overflow-x: auto;
    border: 2px solid lightgrey;
    padding: 1rem;
    text-align: center;
    min-height: 200px;
    max-height: 80vh;
}
.amountDetail{
    width: 45vw;
    padding:0.5rem;
    overflow-x: auto;
    overflow-y: auto;
    height: fit-content;
    min-height: 200px;
    border: 2px solid lightgrey;
    text-align: center;
    background-color: white;
    border-radius: 1.5rem;

}

.quantity h6{
    margin: auto;
}
.addRemove{
    margin: auto;
}
.addCart{
    border-radius: 100%;
    padding: 0rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.amountItemPrice{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
td{
    text-align: center;
}
.lastRow{
   /* border-top:2px solid ; */
   width: 100%;
   margin: auto;

}

.checkoutBtn{
    margin-top:10px
}