.catagoryContainer{
  
    position: relative;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

}
.catagoryItems{
    width: 260px;
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.7rem;
    background: whitesmoke;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid lightgray;
    margin-top: 0.7rem;
}
.catagoryItems img{
    width: 232px;
    height: 150px;
    margin-bottom: 7px;
}
.catagoryItems  a{
    margin: 5px auto;
    text-align: center;
}
.price{
    height: 76px;
    /* background-color: lightgray; */
    width: 70%;
    padding: 0.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.price button{
    margin-top:5px;
    /* margin: auto; */
}
.price span{
    font-size: 1.1rem;
}
.quantity > span{
    margin:auto
}
.leftCatagory{
    position: fixed;
    width: 35vw;
    padding: 0.1rem;
    border-radius: 2rem;
    border: 2px solid gainsboro;
    z-index: 10;
    display: flex;
    background: #f3f3f3;
    top: 13vh;
    left: 32vw;
    justify-content: space-evenly;
    align-items: center
}
.leftCatagory > *{
    display :flex;
    width: fit-content;
    padding: 0.3rem;
    width: 120px;
    justify-content: space-between;
}
.leftCatagory > div button{
    border-radius: 100%;
    padding: 0.1rem 0.3rem;
}
.leftCatagory >button{
    width: fit-content;
    z-index: 100;
}
.leftCatagory button svg{
    z-index: -1;
}
.rating{
   display: flex; 
   justify-content: center;
   align-items: center;
}

/* .catagoryItems {
    width: 260px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.7rem;
    background: whitesmoke;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid lightgray;
    margin-top: 0.7rem;
}
.catagoryItems h6 {
    margin: 5px 0;
}
.price {
  
}
.addCart {
    
} */