*{
    box-sizing: border-box;
}
.headContainer{
    width: 100%;
    height: 13vh;
    position: fixed;
    top:0px;
    left: 0px;
    /* border: 2px solid; */
    /* background-color: rgb(159, 159, 224); */
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content:space-evenly

}
.searchInput{
    width: 45%;
    /* height: 40px; */
}

.logo{
width: 25%;
text-align: center;
}
.logo button{
    font-size:2rem;
    font-weight: bolder;
     
}
.menuBar{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    align-items: center;
}
.basket{
    position:relative;
    width: 60px;
    height: 60px;
    
}
#basketIcon{
    width: 2rem;
    height: 2rem;
    /* -ms-flex-align: start; */
    color:whitesmoke
}
.Qty{
    position: absolute;
    top: -2px;
    left:1.55rem;
    font-size: 1rem;
    color: whitesmoke;
}
.dropBtn{
    font-weight: bolder;
    height: fit-content;
    /* border:2px solid white */
}
.dropmenu{
    position: fixed;
    top:10vh;
    right:6vw;
    width: 120px;
    height: 120px;
    border: 2px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 11;
    transition:all 0.5s ease-in-out
}
.openModal{
    animation: openModal 0.4s ease-out forwards;
}
.closeModal{
    animation: closeModal 0.4s ease-out forwards;
}
@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@media screen and (max-width:600px) {
    .logo button{
        font-size:1rem
    }
    .Qty{
        position: absolute;
        top: -2px;
        left: 1.1rem;
        font-size: 0.7rem;
        color: whitesmoke;
    }
    #basketIcon{
        width: 1rem;
    height: 1rem;
    }
    .basket{
        
    width: 39px;
    height: 36px;
    }
}
@media screen and (min-width:601px) and (max-width:747px) {
    .logo button{
        font-size: 1.5rem;
    }
    .Qty{
        top: 0px;
    left: 1rem;
    font-size: 0.7rem;
    }
    #basketIcon{
        width: 1rem;
        height: 1rem;
    }
    .basket{
        width: 39px;
        height: 36px;
    }
}